<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop-up Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pop_up.css') }}">
</head>
<body>
    <div class="container">
        <h1>Senhas incompatíveis</h1>
        <h2>As senhas informadas são diferentes.<br>Verifique as senhas e tente novamente</h2>
        <button onclick="history.back()">Voltar</button>
    </div>
</body>
</html>

